root = true

[*]
indent_style = space

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

ktlint_code_style=android_studio

[*.{kt,kts,gradle}]
indent_size = 4
max_line_length = 120

ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

[*.{yml,yaml}]
indent_size = 2

[*.xml]
insert_final_newline = false

# Extensions.kt: We don't want 1 file per extension, or to rename the file when we have 1 extension.
# ToxSaveTester.kt: Named after the testToxSave-function it contains. ktlint wants it to be named after the enum it returns.
[{domain/src/main/kotlin/Extensions.kt,domain/src/main/kotlin/tox/ToxSaveTester.kt}]
ktlint_standard_filename = disabled
